# =========================================
# PYTHON
# =========================================

__pycache__/
*.py[cod]
*$py.class

# =========================================
# VENV
# =========================================

.venv/
venv/

# =========================================
# ENV
# =========================================

.env

# =========================================
# VS CODE
# =========================================

.vscode/

# =========================================
# DATABASE
# =========================================

*.db
*.sqlite3

# =========================================
# LOGS
# =========================================

*.log

# =========================================
# FRONTEND
# =========================================

frontend/**/node_modules/
frontend/**/dist/

# =========================================
# EXPORTS
# =========================================

exports/

# =========================================
# ZIP
# =========================================

*.zip
tmp_mproject_site/

# =========================================
# CACHE
# =========================================

.pytest_cache/
.mypy_cache/

# =========================================
# OS
# =========================================

.DS_Store
Thumbs.db
